/*        GLOBAL          */
@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');

*{
    font-family: 'Almendra SC', serif;;
    box-sizing: border-box;
}


html{
    margin: 0 auto;
    scroll-behavior: smooth;
    max-width: 1100px!important;
    height:100%!important;
    background: url("http://pm1.narvii.com/7096/a44f28d043453a63f142ada4cac659968f1cfbaer1-480-480v2_uhq.jpg") repeat center center fixed; 
    background-size: 20rem;
}


body{
    display:grid;
    grid-template:
    "logopag" auto
    "header" auto
    "main" auto
    "footer" auto;
    row-gap:1rem;


}



body>*{
    position:relative;
}

a, a:visited, a:hover, a:active {
    color: inherit;
  }

.opinion, .reviews, .noticias{
    background-color:rgba(85, 48, 3, 0.9);
    scroll-margin-top: 4.5rem;
}

.arcadia-top-background{
    position:absolute;
    right:0;
    top:-14.4rem;
    width:100vw;
    height: 39.89rem;
    background-color: #79CAF9;
    overflow:hidden;
    filter:blur(3px);

}


.logoPag{
    grid-area: logopag;
    background-color: rgb(184, 217, 184);
    display:flex;
    flex-direction: row;
    height: 15rem;
    position: relative;
    overflow: hidden;
    background-image: url(/assets/img/sunny-landscape.jpg);
    background-repeat: no-repeat;
    padding-top: 25rem;
    background-size: 1100px 40rem;
    background-position: bottom left;

}



.arcadiaBanner{
    width: 25rem;
    display: block;
    position:absolute;
    top: -2rem;
    left: 29%;
    z-index: 1;
    
}

.giffy{
    width: 160px;
    display: block;
    position:absolute;
    top: 35%;
    left:1rem;
    z-index: 1;
}

/*                     HEADER                  */
.header{
    grid-area: header;
    display:grid;
    align-items:center;
    grid-template: 
    "burguer user" 4.5rem
    "menu menu" auto;
    height: 4.5rem;
    overflow: hidden;  
    transition: 0.4s ease-out;
    align-self: start;
    top:0;
    z-index:12;
    background: url("/assets/img/center-nav-w.png"); 
    background-size: 99.9% 4.7rem;
    background-repeat: no-repeat;
    border-radius: 7px;    
    position:sticky;
}


.header::before{
    content: "";
    position: absolute;
    background-image: url("/assets/img/l-nav-w.png");
    background-repeat: no-repeat;
    left:0;
    width: 11px;    
    height: 100%;
}
.header::after{
    content: "";
    position: absolute;
    background-image: url("/assets/img/r-nav-w.png");
    background-repeat: no-repeat;
    right:0;
    width: 11px;    
    height: 100%;
}
/* 505.68 height noticias api */
.burguer-ico {
    grid-area:burguer;
    display: inline-block;
    cursor: pointer;
    max-width: 35px;
    margin: 1rem 1rem;    
    
  }
  
.bar-1, .bar-2, .bar-3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar-1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar-2 {opacity: 0;}

.change .bar-3 {
    transform: translate(0, -11px) rotate(45deg);
}
  
.nav-list{
    grid-area:nav;
    display:flex;
    flex-direction: column;
    list-style-type:none;
    padding-left: 1rem;
    
    background-image: url(../assets/img/black-vertical-chainsjpg.png),url(../assets/img/black-vertical-chainsjpg.png);
    background-repeat: repeat-y;
    background-position: 3rem, 5rem;
    background-size: 12px;
    margin-block-start: 0;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter:blur(5px);
    width:9rem;



}

.nav-list li{
    margin-top: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width:7rem;
    background-image: url(../assets/img/W-Btn-Borderless.png);
    background-size:7rem 3rem;
    background-repeat: no-repeat;
    position: relative;
}

.nav-list li::after{
    opacity: 0;
    content:"";
    position:absolute;
    bottom:0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/img/candle.gif);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 2.8rem 2rem;
    backdrop-filter: sepia(90%);
    transition: all 0.3s ease;    
}

.nav-list li:hover::after{
    opacity: 1;
    transition: all 0.3s ease;    


}

.nav-list li a{
    text-decoration: none;
    font-weight: bold;
    z-index: 11;
}





.toggle{
    transition: 0.4s ease-in;
    height:20rem!important;
}


.user-ico{
    grid-area:user;
    margin: auto 1rem auto auto ;

}


  
  /*                    MAIN                     */

.main{
    grid-area: main;
    display:grid;
    grid-template:
    "carousel" auto
    "minis" auto
    "noticias" auto
    "knowhat" auto
    "reviews" auto
    "banner" auto
    "opinion" auto
    "rsApi" auto
    ;
    justify-items: center;
    row-gap: 1rem;
}
main>*{
    width: 100%;
    min-height: 10rem;;
    text-align: center;
    margin-bottom: auto;
}
/* MINIATURAS */
.minuaturas{
  grid-area:minis;
}


.listaMinis{
    display:flex;
    flex-direction: column;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    gap: 0.1rem;
    margin-top:0;
    margin-bottom:0;
    overflow-y:scroll;
}
.miniaturas,.listaMinis{
    height: 25.5rem;
}

.mini-card{
    display:flex;
    flex-direction: row;
    border: 3px solid black;
    position: relative;
    background-image: url("/assets/img/used-paper-sheet-old-book-page-isolated-white-background_154730-1545.webp");
    background-position: center;
    background-size: 120%;

}

.imagen-mini{    
  width: 40%;
  max-width: 15rem;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.imagen-mini img{
    display:block;
    object-fit: cover;
    object-position:center;
    width: 100%;
    height: 100%;
}
.contenido-miniatura{
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  height:8rem;
  padding-left:1.5rem;   
  padding-right: 2rem;
  flex:1;
  }

  .pos{
    color:white;
    font-weight:bold;
    background-color:rgb(81, 5, 5);
    border-radius: 5px;
    width:1rem;
    text-align: center;
    position:absolute;
    left:2px;
    bottom: 2px;

  }
  .tipo-mini{
    color:red;
    padding-bottom: 0.5rem;
    font-weight: bold;
  }
  .titulo-mini{
    font-weight:bold;
  }

  .link-mini{
    cursor:pointer;
    position:absolute;
    width: 100%;
    height:100%;
    z-index: 10;
  }



/* CAROUSEL */
.carousel{
    grid-area: carousel;
    width: 100%;
    min-height: 30vh;
    position: relative;
    overflow: hidden;
}
.slide{
    position: absolute;
    inset:0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;

}

.slide >img{
    display:block;
    width: 100%;
    min-height: 30vh;
    height: 100%;
    object-fit: cover;
    object-position:center;
    position:relative;

}

.slide[data-active]{
    opacity:1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button{
    position:absolute;
    background: none;
    border: none;
    font-size:4rem;
    top:50%;
    z-index:2;
    transform: translateY(-50%);
    color:rgba(255,255,255,.5);
    cursor:pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0,0,0,.1);

}

.carousel-button:hover, .carousel-button:focus{
    color:white;
    background-color: rgba(0,0,0,.2);
}

.carousel-button:focus{
    outline: 1px solid black;
}

.carousel-button.prev{
    left: 1rem;
}

.carousel-button.next{
    right: 1rem;
}
.carousel >ul{
    margin: 0;
    padding:0;
    list-style:none;
}
.subtitle{
    position:absolute;
    border: none;
    z-index:2;
    color:white;
    bottom: 2rem;
    font-weight:bold;
    left: 0;
    height:auto;
    display:block;
    backdrop-filter: blur(20px);
    background-color:rgba(0,0,0,0.5);
    font-size: 1.5rem;
    width: 100%;
    letter-spacing: 2px;

}



/* NOTICIAS      */
.noticias, .reviews, .opinion{
    grid-area: noticias;  
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


.container{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    grid-auto-rows: minmax(22rem, 27rem);
    justify-items: center;
    gap: 1.5rem;
    padding: 1rem
}


.opinion .container{    
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
}


.encabezado{
    backdrop-filter: blur(4px);
    background-color: rgba(0,0,0,0.6);
    color:white;
    padding: 2rem 0;
    margin:0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card{
    width: 100%;
    display:flex;
    flex-direction: column;
    /* background-color: papayawhip; */
    background-image: url("/assets/img/used-paper-sheet-old-book-page-isolated-white-background_154730-1545.webp");
    background-position: center;
    background-size: 150%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}

.card:after{
    content:'';
    padding-top: 1rem;
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background: linear-gradient(-135deg, rgba(85, 48, 3, 0.9)  8px, transparent 0%),
    linear-gradient(135deg, rgba(85, 48, 3, 0.9) 8px, transparent 0%);
    background-size: 24px;
    transform:rotate(180deg)
}    


.photo{
    object-fit:cover;
    height:auto;
    width:100%;
    background-color:gray;
    clip-path: polygon(10% 0, 90% 0, 100% 15%, 100% 85%, 90% 100%, 10% 100%, 0 85%, 0 15%);
}
.card .titulo{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.7rem;
}

.card .description{    overflow: hidden;
    padding: 0 1rem 0 1rem;
    text-align: justify;
    overflow: hidden;

}
.description{
    font-weight: 400;
}

.description::first-letter{
    font-size: 1.5rem;
    font-weight: bold;
}

.card .seemore{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top:auto;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: 0;
    cursor: pointer;
    background-color: rgba(79, 48, 21, 0.5);
    height: 2rem;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    text-align:center;
    transition: all 0.5s ease;
    


}

.seemore a{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    height: 2rem;
    transition: all 0.5s ease;



}

.seemore a p{
    margin-left:0.5rem;
    margin-right:0.5rem;
    font-size: 0.7rem;
    color:white;
    font-weight:bold;
    text-decoration: none;
    width:3rem;


}


.seemore a:hover{
    padding-right: 4rem;
    transition: all 0.5s ease;
    background-color: rgba(79, 48, 21, 0.89);

}





/* RED SOCIAL API     */
.rsApi{
    grid-area: rsApi;

}
.rsApi, .knowhat, .banner{
    display:flex;
    flex-direction: column;
    min-width: 15rem;
    min-height: 10rem;
    height: 100%;
    justify-content: center;   
}
.rsApi{
    flex-direction: row;
}
.twitter-timeline{
    overflow-y: scroll;
    max-height: 28.5rem;
    flex:1;
}

.twitter-timeline::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.twitter-timeline {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}




/* REVIEW AREA */
.reviews{
    grid-area: reviews;

}

/* SABIAS QUE */
.knowhat{
    grid-area: knowhat;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url("../assets/img/2woodenBanner\ -\ acostado.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.knowhat-fotito{
    display:block;
    width: 6rem;
    background-color: rgba(79, 48, 21, 0.843);
    border-radius: 50px;
    padding: 0.5rem;
    margin-left: 1rem;
}
.knowhat>div{
    font-weight:bold;
    text-align: left;
    margin: 1.5rem;
    animation: pulse;
    animation-duration: 500ms;

}
.knowhat-content{
    color: #e38b3862;
    text-shadow: 0px 1px 2px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
 }

 .knowhat-content::first-letter{
    font-size: 2rem;
    margin-right: 2px;
    font-weight: bold;
 }


.knowhat-button{
    margin: 0.5rem;
    margin-right: 1rem;
    border-radius: 100px;
    height: 50px;
    width:  50px;
    position:relative;
    cursor: pointer;
    background-color: rgba(79, 48, 21, 0.843);
    color:white;

    
}

.knowhat-button:hover::before{
    content:"Clickeame!";
    font-weight: bold;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-bottom:0.5rem;
    width: 6rem;
    height: 2rem;
    background-color: rgba(79, 48, 21, 0.843);
    border: 2px solid black;
    color: white;
    position:absolute;
    top: -2.5rem;
    left: -4rem;
    animation:wobble;
    animation-duration: 700ms;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}

/* BANNER */
.banner{
    grid-area: banner;
    height: 20rem;
}

.banner img{
    display:block;
    object-fit: cover;
    object-position:center;
    width: 100%;
    height: 100%;
}


/*                 OPINION SECTOR                */


.opinion{
    grid-area: opinion;
}

.opinion .container{
    margin-bottom: 2rem;
}
.opinion .card{
    border-top-left-radius: 120px ;
    border-top-right-radius: 120px ;
    border-bottom-right-radius: 20px ;
    

}

.opinion img{
    border-radius:50%;
    width: 150px;
    height: 150px;
    margin: 1rem auto;

}



/*                FOOTER SECTOR              */



.footer{
    grid-area:footer;
    margin-top: auto;
    margin-bottom: 1rem;
    display:flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../assets/img/W-Btn-Borderfull.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.footer>*{
    text-align: center;
}

.rs{
    display: grid;
    grid-template-columns: repeat(3, minmax(2rem,10rem)) ;
    justify-items:center;
    row-gap: 2rem;
    padding-top: 2rem;
}
.rs i{
    margin: 5px 0;
}
.notes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem auto;

    
}
.notes>*{
    font-family: 'Eczar';
    font-weight: bold;

}
.links{
    display:inline-flex;
    gap: 2rem;
    justify-content:space-evenly;
    padding-bottom: 3rem;
}
.links a{
    text-decoration: none;
    font-weight: bold;
}



/*               TABLET             */
@media (max-width: 520px){

    .arcadiaBanner{
        width: 90vw;
        top: -1rem;
        left: 5%;
        z-index: 1;
    }

}

@media (min-width: 530px){

    .carousel{
        min-height:26rem;
    }
    .miniaturas,.listaMinis{
        height:26rem;
    }

}
@media (min-width: 580px){

    .carousel{
        min-height:30rem;
    }
    .miniaturas,.listaMinis{
        height:30rem;
    }

}


@media (min-width: 868px){

    .header{
        height:4.5rem!important;
    }

    .burguer-ico{
        display: none;
    }
    .nav-list{
        list-style-type:none;
        display:block;
        background-image:none;
        background-color: transparent !important;
        backdrop-filter:none;
        width:100%;
    }
    .nav-list li{
        display:inline-block;
        font-weight: bold;
        padding-top: 1.5rem;
        text-align: center;   
        height: 4.1rem;
        margin-top: 0;
    }

    .nav-list li::after{
        opacity: 0;
        content:"";
        position:absolute;
        left:0;
        width: 0;
        height: 0;
        background-image: none;
        backdrop-filter: none;
  
    }
    
    .nav-list li:hover{
        background-color: rgba(0,0,0,0.5);
        transition: all 0.3s ease;       
    
    }

    .main{
        grid-template:
        "carousel carousel carousel minis" auto
        "noticias noticias noticias rsApi" auto
        "knowhat reviews reviews reviews" auto
        "banner banner banner banner" auto
        "opinion opinion opinion opinion" auto
        ;
        column-gap: 1rem;
    }

    .carousel{
        min-height:33rem;
    }
    .slide>img{
        height:100%;
    }

    .miniaturas,.listaMinis{
        height:33rem;

    }

    .listaMinis, .rsApi, .twitter-timeline>*{
        max-width: 16rem;

      }


    .imagen-mini{
        width: 35%
    }
      .mini-card{ 
        width:100%;
        height:auto;
 
    }
    .contenido-miniatura{
        padding:0.7rem;
        padding:0.7rem;
    }
    .contenido-miniatura div{
        font-size: 0.7rem;
    }

    .nav-list{
        padding-top: 1rem;
    }
    .nav-list li{

        background-image: none;
    }


  
    .twitter-timeline{
        max-height: 82.5rem!important;
        overflow-y: scroll;    
    }



    .footer{
        flex-direction: row;
        justify-content: space-between;
        padding: 0 3rem;
    }
    .rs{
        column-gap: 1rem;
    }

    .rs{
        display: grid;
        grid-template-columns: repeat(2, 3rem) ;
        justify-items:center;
        row-gap: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 1.5rem;

    }

    .links{
        flex-direction: column;
        align-items: flex-end;
        padding-bottom: 2rem;
        padding-top: 2rem;
        padding-right: 1.5rem;
    }
    
    .twitter-timeline{
        max-height: 145.5rem!important;   
    }

    .knowhat{
        flex-direction: column;
        justify-content:center;
        align-items: center;
        max-width: 15rem;
        background-image: url("../assets/img/2woodenBanner.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }
    
    .knowhat-fotito{
        margin-left: 0;
        padding: 0.5rem;
        margin-top: 5rem;
        margin-bottom: 2rem;
    }
    .knowhat>div{
        line-height: 2.5rem;
        text-align: center;
        font-size: 1.2rem;
        width: 8rem;
        margin-top: auto;
        margin-bottom: auto;
        max-height: 35rem;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        
    }
    .knowhat-button{
        margin-bottom: 2rem;
        margin-right:0;
        margin-left: 0;

    }
    
.knowhat-button:hover::before{
    top: -3rem;
    left: -4rem;
}
    
}

@media (max-width: 506px){

    .container, .opinion .container{
        grid-template-columns: 16rem;           
        justify-content: center;
    }

}

/* PC */

@media (min-width: 859px){

    .twitter-timeline{
        max-height: 145.5rem!important;    
    }

}
@media (min-width: 867px){

    .twitter-timeline{
        max-height: 82.5rem!important;    
    }

}

@media (min-width: 900px){
    .carousel{
        min-height:35rem;
    }
    .miniaturas,.listaMinis{
        height:35rem;
    }
    .container{

        grid-auto-rows: minmax(22rem, 24rem);

    }   
}
@media (min-width: 1013px){

    .twitter-timeline{
        max-height: 55.5rem!important;
        overflow-y: scroll;
        /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }

}



