/*        GLOBAL          */
*{
    font-family: 'Alef';
    box-sizing: border-box;
}
html{
    margin: 0 auto
}

body{
    display:grid;
    grid-template:
    "header" auto
    "main" auto
    "footer" auto;
    row-gap:1rem;
}

body>*{
    border:1px solid red;
}




/*                     HEADER                  */
.header{
    grid-area: header;
    display:grid;
    align-items:center;
    grid-template: 
    "burguer user" auto
    "menu menu";

    
}

.burguer-ico {
    grid-area:burguer;
    display: inline-block;
    cursor: pointer;
    margin: 1rem 1rem;
  }
  
.bar-1, .bar-2, .bar-3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar-1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar-2 {opacity: 0;}

.change .bar-3 {
    transform: translate(0, -11px) rotate(45deg);
}
  


.nav-list{
    grid-area:nav;
    list-style-type:none;
    display: none;
    padding: 0 1rem;
    transition: 0.4s;


}

.toggle{
    display:block;
    transition: 0.4s;


}
.user-ico{
    grid-area:user;
    margin: auto 1rem auto auto ;

}




  
  
  /*                    MAIN                     */

  .main{
      grid-area: main;
      display:grid;
      grid-template:
      "carousel" auto
      "noticias" auto
      "rsApi" auto
      "knowhat" auto
      "reviews" auto
      "banner" auto
      "opinion" auto
      ;
      justify-items: center;
      row-gap: 1rem;
      padding: 1rem;
  }
  main>*{
      border: 1px solid blue;
      width: 100%;
      text-align: center;
      margin-bottom: auto;
  }


/* CAROUSEL */
.carousel{
    grid-area: carousel;
}

.img-carousel{
    width: 100%;
    height: 15rem;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.scrollbar{
    margin-bottom: 1rem;;
}
.scroller{
    display:inline-block;
    width: 5px;
    height: 5px;
    background-color: white;
    border: 1px solid;
    border-radius: 50%;
    margin: 0 0.5rem;
}



/* NOTICIAS      */
.noticias, .reviews, .opinion{
    grid-area: noticias;
    display:grid;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    justify-items: center;
    gap: 1rem;
}
.card{
    width: 100%;
    display:flex;
    flex-direction: column;
}
.photo{
    height: 11rem;
    width:100%;
    background-color:gray;
}

/* RED SOCIAL API     */
.rsApi, .knowhat{
    grid-area: rsApi;
    display:flex;
    flex-direction: column;
    min-width: 10rem;
    height: 100%;
}



/* REVIEW AREA */
.reviews{
    grid-area: reviews;

}

/* SABIAS QUE */
.knowhat{
    grid-area: knowhat;

}


.banner{
    grid-area: banner;
}

/* BANNER */


.opinion{
    grid-area: opinion;
}

/* OPINION SECTOR */





.footer{
    grid-area:footer;
    margin-top: auto;
    margin-bottom: 0;
    display:flex;
    flex-direction: column;
}

.footer>*{
    text-align: center;
}

/*                FOOTER SECTOR              */
.rs{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    justify-items:center;
    row-gap: 1rem;
    padding-top: 1rem;
}
.rs i{
    margin: 5px 0;
}
.notes{
    margin: 2rem 0;
}
.links{
    display:inline-flex;
    justify-content:space-evenly;
}

html,body{
    max-width: 1100px!important;
    height:100%
}


/*               TABLET             */

@media (min-width: 768px){


    .burguer-ico{
        display: none;
    }
    .nav-list{
        list-style-type:none;
        display:block;
    }
    .nav-list li{
        display:inline;
        margin: 0 1rem;
    }
    .main{
        grid-template:
        "carousel carousel carousel carousel" auto
        "noticias noticias noticias rsApi" auto
        "knowhat reviews reviews reviews" auto
        "banner banner banner banner" auto
        "opinion opinion opinion opinion" auto
        ;
        column-gap: 1rem;

    }

    .noticias, .reviews, .opinion{
        max-height: 740px;
        overflow-y:scroll;
    }

    .footer{
        flex-direction: row;
        justify-content: space-between;
        padding: 0 3rem;
    }
    .rs{
        column-gap: 1rem;
    }
    .links{
        flex-direction: column;
    }

    
}

/*                     FORM                  */
.form-style-1 {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	outline: none;	
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:red;
}