*{
    font-family: 'Alef';
    box-sizing: border-box;
}

body{
    min-height: 100%;

}


html{
    height: 100%;
    min-width: 200px;
    margin: 0 auto;
}

header{
    position:sticky;
}


.grid-container{
    display:grid;
    gap:10px;
    grid-template:
        "header" auto
        "nav" 50px
        "anuncios" 300px
        "main" auto
        "sidebar" auto
        "footer" auto;
    ;
}
.grid-container > *{   
    text-align:center;
    padding:10px;
    border-radius: 4px;
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75)
}

a,button{
    cursor: pointer;
}

/*********************HEADER******************/
.header{
    grid-area:header; 
    display:flex;
    align-content: center;
    align-items: center;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/002/189/688/small_2x/wood-blank-brown-background-free-vector.jpg");
    background-size: 100% 100%;
}
.poste{
    background-color: rgb(49, 30, 14);
    width: 20px;
    height: 114%;
    margin-bottom: -9px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.logoimg{
    width:70px;
    margin-left: -13px;
}
.button{
    margin-right:5px;
    margin-left:auto;
}
.btn{
    background-color:blue;
    width:100px;
    height:35px;
    border-radius:10px;
    font-weight: bold;
}

/*********************NAVBAR******************/
.nav{
    grid-area:nav;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/002/189/688/small_2x/wood-blank-brown-background-free-vector.jpg");
    background-size: 100% 100%;

}

.nav-btn{

    width:80px;
    background-color: gray;
    font-weight: bold;
    box-shadow: 5px 5px 18px #000000;

}

/*********************SCROLLBAR******************/

.anuncios{
    grid-area:anuncios;
    background-image: url("./assets/fondomadera.jpg");
    background-size: 100% 100%;
    box-shadow: 0 0 8px 8px white inset;
    

}
.anuncios-container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px auto 10px auto;
    align-items: flex-end;
    max-width: 700px !important;
}

.item{
    max-width: 150px;
    min-width: 100px;
    height: 120px;
    border-radius: 15px;
    background-color:gray;    
}

.item-ppal{
    width: 300px !important;
}

.item-2{
    opacity: 0.5;
    margin-bottom: 8px;
    height: 100px;
    background: linear-gradient(
    to left,
    gray 0%,
    gray 20%,
    gray 90%,
    rgba(255, 255, 255, 0) 100%
  );

}

.item-3{
    opacity: 0.5;
    margin-bottom: 8px;
    height: 100px;
    background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 0%,
    gray 20%,
    gray 90%,
    gray 100%
    );
}

/***MAIN*****/

.main{
    grid-area:main;
    display:grid;
    padding:0;
}
.tablon{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    border-radius:4px;
}

.tablon-item{
    border: 1px solid black;
    height: 5rem;
    overflow: hidden;
    background-color: rgb(187, 187, 187);
}
.tablon-item:hover{
    height: 16rem;
    transition: height 1s;
}
.banner{
    display: flex;
    position: relative;
    align-items: flex-start;
    max-height: 7rem;
    overflow: hidden;
    border:none;
}
.banner .titulo{
    position: absolute;
    background-color: transparent;
    color: white;
    align-items: center;
    border:none;
}
.banner img{
    width: 100%;
}
.descripcion{
    max-height: auto;
    text-align:justify;
    padding: 0.5rem;
}

/****SIDEBAR****/

.sidebar{
    grid-area:sidebar;
    display:grid;
    padding:0;
}

.advertisement{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.advertisement img{
    width:100%;
    border-radius: 4px;

}


/****FOOTER****/
.footer{
    grid-area:footer;
    margin-bottom: 0;
    display:flex;
    flex-direction: column;
}
.rs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
}
.rs i{
    margin: 5px 0;
}
.notes{
    margin: 2rem 0;
}
.links{
    display:inline-flex;
    justify-content:space-evenly;
}

@media (min-width: 768px){
    .grid-container{
        grid-template:
        "header header" 100px
        "nav nav" 50px
        "anuncios anuncios" 400px
        "main sidebar" auto
        "footer footer" auto  
        ;        
    }
    .tablon-item{
        height: 7rem;

    }
    
    .footer{
        display:flex;
        flex-direction:row;
        max-height: 9rem;
    }
    .rs{
        grid-template-columns: 1fr 1fr 1fr;
        flex:20%
    }

    .notes{
        flex: auto;
    }
    .links{
        flex:15%;
        display: flex;
        flex-direction:column;
        align-items:flex-end;
    }
    
    html{
        max-width: 980px;
    }

}
