/****************************************** GLOBAL ******************************************/


*{
    font-family: 'Alef';
    box-sizing: border-box;
}

body{
    min-height: 100%;

}


html{
    height: 100%;
    min-width: 200px;
    margin: 0 auto;
}

header{
    position:sticky;
}


.grid-container{
    display:grid;
    gap:10px;
    grid-template:
        "header" auto
        "nav" 50px
        "anuncios" auto
        "main" auto
        "sidebar" auto
        "notas" auto
        "footer" auto;
    ;
}
.grid-container > *{   
    text-align:center;
    padding:10px;
    border-radius: 4px;
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75)
}

a,button{
    cursor: pointer;
}

/****************************************** HEADER ******************************************/
.header{
    grid-area:header; 
    display:flex;
    align-content: center;
    align-items: center;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/002/189/688/small_2x/wood-blank-brown-background-free-vector.jpg");
    background-size: 100% 100%;
}
.poste{
    background-color: rgb(49, 30, 14);
    width: 20px;
    height: 114%;
    margin-bottom: -9px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.logoimg{
    width:70px;
    margin-left: -13px;
}
.button{
    margin-right:5px;
    margin-left:auto;
}
.btn{
    background-color:blue;
    width:100px;
    height:35px;
    border-radius:10px;
    font-weight: bold;
}

/****************************************** NAVBAR ******************************************/
.nav{
    grid-area:nav;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/002/189/688/small_2x/wood-blank-brown-background-free-vector.jpg");
    background-size: 100% 100%;

}

.nav-btn{

    width:80px;
    background-color: gray;
    font-weight: bold;
    box-shadow: 5px 5px 18px #000000;

}

/****************************************** SLIDESHOW ******************************************/


/****************************************** MAIN ******************************************/

.main{
    grid-area:main;
    display:grid;
    row-gap: 2em;
    column-gap: 1rem;
    padding:0;

    grid-template-columns: repeat(auto-fill, minmax(min(50%,25rem), 1fr));

}
.tablon{    
    max-height: 45rem;
    overflow:auto;
}
.noticias{
    max-height: 45rem;
    overflow:scroll;
}

.tablon-item{
    border: 1px solid black;
    height: 7rem;
    overflow: hidden;
    background-color: rgb(187, 187, 187);
}
.tablon-item:hover{
    height: 16rem;
    transition: height 1s;
    transition-delay: 1s;
}


.banner{
    display: flex;
    position: relative;
    align-items: flex-start;
    max-height: 7rem;
    overflow: hidden;
    border:none;
}
.banner .titulo{
    position: absolute;
    background-color: transparent;
    color: white;
    align-items: center;
    border:none;
}
.banner img{
    width: 100%;
}
.descripcion{
    max-height: auto;
    text-align:justify;
    padding: 0.5rem;
}

/**************************************** SIDEBAR ***************************************/

.sidebar{
    grid-area:sidebar;
    display:grid;
    padding:0;
}

.advertisement{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.advertisement img{
    width:100%;
    border-radius: 4px;

}

/******************************** NOTAS AND NOTIS ******************************************/

.notasNnotis{
    grid-area:notas;
    display:grid;
    justify-items: center;
    row-gap: 2rem;
}

.contact-form{    
    display:flex;
    max-width: 15rem;
    flex-direction: column;
}
.notasNnotis input,textarea{
    background-color:lightcyan;
}

.notasNnotis label{
    text-align: left;
}
.notasNnotis label ~ label{
    margin-top: 1rem;
}

#send{
    width: 70px;
    margin-top: 1rem;
    border-radius: 5px;
    align-self: center;
}


/****************************************** FOOTER ******************************************/

.footer{
    grid-area:footer;
    margin-bottom: 0;
    display:flex;
    flex-direction: column;
}
.rs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;

}
.rs i{
    margin: 5px 0;
}
.notes{
    margin: 2rem 0;
}
.links{
    display:inline-flex;
    justify-content:space-evenly;
}

/****************************************** DESKTOP VIEW ******************************************/

@media (min-width: 768px){


    /********************************* MAIN **********************************/

    

    .tablon{
        height: auto;
    }
    .tablon-item{
        height: 7rem;

    }

    /*********************************BANNER**********************************/

    .advertisement{
        height: 100%;
        overflow: scroll;
        border-radius: 4px;
    
    }

    /******************************* NOTASnNOTIS *****************************/

    .notasNnotis{
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
    }

    .notasNnotis .tablon{
        grid-column: 1/3;
    }

    .contact-form{
        align-self: center;
    }


    /*********************************FOOTER**********************************/

    
    .footer{
        display:flex;
        flex-direction:row;
        max-height: 9rem;
    }
    .rs{
        grid-template-columns: 1fr 1fr 1fr;
        flex:1%
    }

    .notes{
        flex: auto;
    }
    .links{
        flex:1%;
        display: flex;
        flex-direction:column;
        align-items:flex-end;
    }
    
    html{
        max-width: 980px;
    }

}
