body{
    display:grid;
    grid-template:
    "header" auto
    "main_internal" auto
    "footer" auto;
    row-gap:1rem;
}

body>*, main>*{
    border:none;
    position:relative;

}

main>*{
    min-height:auto;
    text-align:left;
}

h3{
    font-style: italic;
    text-indent: 1rem;;
    margin-bottom: 2rem;
}

.main_internal{
    grid-area: main_internal;
    padding: 4rem;
    display:flex;
    flex-direction: column;

    
}

.main_internal>p{
    text-indent: 1rem;;
    text-align: justify;
    font-size: 1.1rem;
    padding: 1rem;
}

ul{
    padding-left: 4rem;
}
li{
    padding-left: 1rem;
    margin-bottom: 1rem;
}

img{
    margin: 1rem auto;
    clip-path: polygon(3% 0, 97% 0, 100% 5%, 100% 95%, 97% 100%, 3% 100%, 0 95%, 0 5%);

}

.gif{
    width: 15rem;
    clip-path: polygon(0 0, 70% 0%, 100% 0, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0% 30%);



}

.toggle {
    height: 23rem!important;
}

#parchment {
    position: absolute;
    display: flex;
    max-width: 1209.75px;
    min-height: 100%;
    /* center page with absolute position */
    top: 0%; left: 50%;transform: translate(-50%, 0);
    margin: 2em 0;
    padding: 4rem;
    box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
    filter: url(#wavy2);
    background-color:white;
    
    
  }
  svg{
    display:none;
  }
  .footer{
    margin-top: 5rem;
    padding-bottom: 2rem; ;
  }

  .sellito{
    margin-bottom: -4rem;;
    margin-right: -2rem;
    width: 120px;
    float: right;
  }

  iframe{
    height: 50vh;
    clip-path: polygon(3% 0, 97% 0, 100% 5%, 100% 95%, 97% 100%, 3% 100%, 0 95%, 0 5%);

  }


/*                     CONTACTO                  */

.form-container{
    grid-area: form;
}
.form-style-1 {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	outline: none;	
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:red;
}
